.white-container {
    background-color: white;
    min-height: stretch;
    max-height: max-content;
}
.header-box {
    display: flex;
    .logo-wrapper {
        position: relative;
        .logo-box {
            text-align: start;
            img {
                width: 17em;
            }
        }
        .logo-title {
            position: absolute;
            top: 100px;
            left: 140px;
            color: #60CCF4;
        }
    }
    .profile-wrapper {
        text-align: end;
        .profile-content {
            display: flex;
            justify-content: flex-end;
            padding: 40px 10px 10px 10px;
            .profile-img-box {
                width: 5em;
                height: 5em;
                background-image: url("../../assets/pro_Pic.jpg");
                border-radius: 50%;
                background-size: cover;
            }
            .profile-details-box {
                text-align: start;
                padding: 0px 10px 0px 0px;
                h4 {

                }
                p{
                    color: #60CCF4;
                }
            }
        }
    }
}
.middle-box {

}
