<div class="white-container">
    <div class="header-box">
        <div class="col-lg-6 logo-wrapper">
            <div class="logo-box">
                <img src="../../assets/sal-logo.png" alt=" sal_logo">
            </div>
            <div class="logo-title">
                <p>Powered by Salpo Technologies</p>
            </div>
        </div>
        <div class="col-lg-6 profile-wrapper">
            <div class="profile-content">
                <div class="profile-details-box">
                    <h4>Vimukthi Gunarathna</h4>
                    <p>Software Engineer</p>
                </div>
                <div class="profile-img-box">
                    <!-- <img src="../../assets/sal-logo.png" alt=" sal_logo"> -->
                </div>
            </div>
        </div>
    </div>
    <div class="middle-box">

    </div>

</div>