<div class="white-container">
    <div class="header-box">
        <div class="col-lg-6 logo-wrapper">
            <div class="logo-box">
                <img src="../../assets/sal-logo.png" alt=" sal_logo">
            </div>
            <div class="logo-title">
                <p>Powered by Salpo Technologies</p>
            </div>
        </div>
        <div class="col-lg-6 profile-wrapper">
            <div class="profile-content">
                <div class="profile-details-box">
                    <h1>Vimukthi Gunarathna</h1>
                    <p>Software Engineer</p>
                </div>
                <div class="profile-img-box">
                    <div class="profile-img"></div>
                    <div class="icon">
                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                    </div>
                    <!-- <img src="../../assets/sal-logo.png" alt=" sal_logo"> -->
                </div>
            </div>
        </div>
    </div>
    <div class="middle-box">
        <div class="card-wrapper">
            <div class="col-lg-3 card">
                <div class="list-container">
                    <div class="title-box">
                        <div class="title-wrapper">
                            <div class="header-title">
                                <h2>To do</h2>
                            </div>
                        </div>
                        <div class="panel=wrapper">
                            <!-- <div class="panel">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                                <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                            </div> -->
                        </div>
                    </div>
                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                        [cdkDropListConnectedTo]="[inProgress,doneList]" class="list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="list-box" *ngFor="let item of todo" cdkDrag>
                            <div class="user-avatar"></div>
                            <div class="todo-title">{{item.title}}</div>
                            <div class="todo-date">{{item.created_date}}</div>
                            <div class="todo-panel">
                                <fa-icon class="todo-icon trash" [icon]="['fas', 'trash']" (click)="deleteItem(item)">
                                </fa-icon>
                                <div class="dropdown">
                                    <fa-icon class="todo-icon " [icon]="['fas', 'ellipsis-v']" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></fa-icon>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#updateItem"
                                            (click)="selectedItem(item)">Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#viewItem"
                                            (click)="selectedItem(item)">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- View Todo's Modal -->
                    <div class="modal fade" id="viewItem" data-backdrop="static" data-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="staticBackdropLabel">{{selected_Item?.title}}</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body view-item">
                                    <h2>{{selected_Item?.description}}</h2>
                                    <p>{{selected_Item?.created_date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Todo's Modal -->
                    <div class="modal fade" id="updateItem" data-backdrop="static" data-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="staticBackdropLabel">Update Your Todo's
                                        List
                                    </h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body update-form">
                                    <form [formGroup]="updateItemForm">
                                        <span class="input-label">Title</span>
                                        <input class="form-control form-inputs" formControlName="title" placeholder={{selected_Item?.title}}>
                                        <span class="input-label">Description</span>
                                        <input class="form-control form-inputs" formControlName="description" placeholder={{selected_Item?.description}}>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary update-btn" data-dismiss="modal"
                                        (click)="editItem()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-item">
                        <fa-icon [icon]="['fas', 'plus-square']" data-toggle="modal" data-target="#staticBackdrop">
                        </fa-icon>
                        <!-- Add Todo's Modal -->
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="staticBackdropLabel">Add Todo's To Your List</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="todoItemForm">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="title" placeholder="Title">
                                                <span class="text-danger"
                                                    *ngIf="todoItemFormControl.title.touched && todoItemFormControl.title.errors?.titleNotAvailable">
                                                    This title is already taken
                                                </span>
                                                <input class="form-control" formControlName="description"
                                                    placeholder="Description">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            (click)="onSubmit()">Save</button>
                                        <button type="button" class="btn btn-primary">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROGRESS CARD -->
            <div class="col-lg-3 card">
                <div class="list-container">
                    <div class="title-box">
                        <h2>In Progress</h2>
                    </div>
                    <div cdkDropList #inProgress="cdkDropList" [cdkDropListData]="in_progress"
                        [cdkDropListConnectedTo]="[todoList,doneList]" class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-box" *ngFor="let item of in_progress" cdkDrag>
                            <div class="user-avatar"></div>
                            <div class="todo-title">{{item.title}}</div>
                            <div class="todo-date">{{item.created_date}}</div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DONE CARD -->
            <div class="col-lg-3 card">
                <div class="list-container">
                    <div class="title-box">
                        <h2>Done</h2>
                    </div>
                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
                        class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-box" *ngFor="let item of done" cdkDrag>
                            <div class="user-avatar"></div>
                            <div class="todo-title">{{item.title}}</div>
                            <div class="todo-date">{{item.created_date}}</div>
                        </div>
                    </div>
                    <div class="done-items-wrapper">
                        <div class="deleted-items">
                            <a data-toggle="modal" data-target="#deletedItems">View deleted items</a>
                        </div>
                        <div class="done-items">
                            <a>View done items</a>
                        </div>
                    </div>
                    <!-- DELETE ITEMS MODAL -->
                    <div class="modal fade" id="deletedItems" data-backdrop="static" data-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="staticBackdropLabel">Deleted Items</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" *ngFor="let item of deleted_items">
                                    <div class="list-box">
                                        <div class="user-avatar"></div>
                                        <div class="todo-title">{{item.title}}</div>
                                        <div class="todo-date">{{item.created_date}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ADD CARD -->
            <div class="col-lg-1 add-card">
                <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
            </div>
        </div>
    </div>
</div>